/* styling for all content */
body {
    /* ADA compliant font */
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
/* For background of landing page */
.landingPage { 
    background-image: url('./images/Background_image2.jpg') !important;
    background-size: cover;
}
/* For background of menu-page */
.menuPage {
    background-image: url('./images/menuPage_background.jpg');
    background-size: cover;
}
/* contact page background */
#contact-page{
    background-image: url('./images/Background_image2.jpg') !important;
    background-size: cover;
}
/* contact form */
#contact-form{
    background-color: rgb(236, 236, 236);
    padding:2em;
    border-radius: .25em;
}
/* location page background */
#locations-page{
    background-image: url('./images/Background_image.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
}
/* class for navigation bar */
.header {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 10px;
    background-color: rgb(236, 236, 236) !important;
}
/* class for each navigation option */
.nav-item {
    color: black !important;
    font-size: 24px !important;
    font-weight: bold !important;
}
.container-fluid {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
/* class for each type of Menu Category */
.menuCat {
    text-align: center !important;
    display: inline-block;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* class for card labels */
.card-text {
    text-align: center !important;
    font-weight: normal;
    font-size: 1rem;
}
.card {
    margin: 0 auto;
}
/* unique styling for menu page heading */
.menuHead {
    color: white;
}

.listHead {
    color: white;
}
#menuLinkDiv {
    margin-top: 40px;
}

/* styling for rounded menu links */
.menuLink {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 20px;
}

 /* Colors for each logo */

 /* Facebook */
    .fa-facebook {
        background: transparent;
        color:#3b5998;
        padding: 10px;
      }
      
/* Twitter */
    .fa-yelp {
      background: transparent;
      color: #D32323;
      padding: 10px;
      
    }
 /* Instagram */
    .fa-instagram {
        background: transparent;
        color: white;
        padding: 10px;
        
      }
    
    .site-info {
        color: white;
    }
    
    .footer-row {
        width: 100% !important;
    }
  
        